
  <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <link rel="stylesheet" href="/static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <link rel="stylesheet" href="/static/plugins/jqvmap/jqvmap.min.css">
        <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
        <link rel="stylesheet" href="/static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" href="/static/plugins/summernote/summernote-bs4.min.css">
        


<aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <div class="mt-6 pb-3 mb-6">
            <a class="brand-link">
              <img src="/static/dist/img/logo_direction2.png" class="brand-image img-circle elevation-4 img-lg" style="opacity: .8">
              <span class="brand-text font-weight-light">Gestach</span>
              
            </a>
       </div>
        
    
        <!-- Sidebar -->
        <div class="sidebar brand-link">
          <!-- Sidebar user panel (optional) -->
          <div class="">
            <div class="">
            </div>
        </div>
            
    
          <!-- Sidebar Menu -->
      <nav class="mt-2 " STYLE="font-size: small;">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="{% url 'auth:tableau_bord' %}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

          </li>

          <li class="nav-header">EXECUTION</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Planification
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'plan:action_list'%}" class="nav-link">
                  <i class="far fa-circle text-danger"></i>
                  <p class="text">Actions</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'plan:activite_list' %}" class="nav-link">
                  <i class="far fa-circle text-warning"></i>
                  <p>Activités</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'plan:tache_list' %}" class="nav-link">
                  <i class="far fa-circle text-info"></i>
                  <p>Taches</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'plan:atelier_list' %}" class="nav-link">
                  <i class="far fa-circle text-indigo"></i>
                  <p>Ateliers</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="{% url 'plan:diligence_list' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Diligences
                <span class="right badge badge-primary">Nouveau</span>
              </p>
            </a>
          </li>
          <li class="nav-header" style="text-decoration: underline;">DOCUMENTATION</li>
          <li class="nav-item">
            <a href="{% url 'rapport:rapport_list' %}" class="nav-link">
              <span class="badge badge-info right">6</span>
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Rapports

              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope"></i>
              <p>
                Messagerie
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'courrier:courrier_arrive' %}" class="nav-link">
                  <i class="far fa-circle text-fuchsia"></i>
                  <p>Courriers</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/compose.html" class="nav-link">
                  <i class="far fa-circle text-blue"></i>
                  <p>Chat</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/mailbox/read-mail.html" class="nav-link">
                  <i class="far fa-circle text-green"></i>
                  <p>Mail</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-header" style="text-decoration: underline;">UTILISATEURS</li>

          <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-user-friends"></i>
                  <p>
                    Ressources Humaines
                    <i class="fas fa-angle-left right"></i>
                  </p>
              </a>
              <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-user-shield"></i>
                      <p>Personnel</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-user-check"></i>
                      <p>Demande d'autorisation</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-user-check"></i>
                      <p>Ordre de mission</p>
                    </a>
                  </li>
              </ul>
          </li>

          
          <li class="nav-header">PERSO</li>
          <li class="nav-item">
            <a href="{% url 'plan:agenda_perso' %}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Agenda
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-header">PARAMETRES</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Groupes et permissions
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-columns"></i>
              <p>
                Organisation administrative
              </p>
            </a>
          </li>
        </ul>
      </nav>
            
          <!-- /.sidebar-menu -->
    </div>
        <!-- /.sidebar -->
</aside>
